<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1 style="color:red">
        Hola
    </h1>
    <ul>
        {% for pr in product %}
            <li>
                {{ pr.name }} | 
                {{ pr.description }}
                <img src="{{ pr.image.url }}">
            </li>
        {% endfor %}
    </ul>
</body>
</html>