html,body {
    height:100%;
}

body{
    background-color: #0098DF;
}

header {
        
    display:block;
    text-align: center;
    padding:10px 0px;
}

section {
    width: 79%;
    
    float: left;
    overflow: auto;
    padding-bottom: 60px;
    padding-top:30px;
    
}

aside {
    float: right;
   padding: 5 5 5 5;
    width: 19%;
   height: 50%;
     border: PowderBlue 2px solid;
  border-radius: 20px;
   color: #fff;
    /*Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
    /*visibility: hidden;*/
}
footer {
    position: relative;
    margin-top: -50px;
    height: 15%; 
    padding:5px 0px;
    clear: both;
    background: #0098DF ;
    text-align: left;
    color: #fff;
       padding: 3px 10px;
  border: PowderBlue 2px solid;
  border-radius: 20px;
}

img{
    width: 100%;
}




li{
    width:50%;
    height: 50%;
    display:inline-block;
    
      border: PowderBlue 2px solid;
 

}

#banner{
    
    width: 70%;
}

button {
border: none;
background: #3a7999;
color: #f2f2f2;
padding: 10px;
font-size: 18px;
border-radius: 5px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease;
}

button:hover {
background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}

a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

p{
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 15px;
}